body{
    font-family: helvetica, sans-serif;

}

div.title{
    width: 100%;
    height: 100%;
    font-family: helvetica;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

div.h1{
	color: #000000;
    font-weight: 400;
    font-family: helvetica;
    font-size: 2.5em;
    max-width: 800px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h2{
    text-align: center;
}

h3{
	font-size: .75em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

div.bio{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

img.bioImage{
    width: 40%;
    margin: auto;
    display: block;
}

p.search{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    color: #FFC5E4;
}

p.search > a{
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

p.search > a:hover{
    background-color: #FFFF00; 
}

div.linkList{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

li.assignmentLink{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

li.assignmentLink > a{
    color: #000000;
}

li.assignmentLink > a:hover{
    background-color: #FFFF00; 
}

input[type="text"] {
  display: block;
  margin: 0;
  margin-top: 20px;
  width: 50%;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: solid 5px #c9c9c9;
  margin-left: auto;
  margin-right: auto;

}
input[type="text"]:focus {
  outline: none;

}

button[type="go"] {
    margin-top: none;
    border: solid 2px;
    background: #FFC5E4;
    margin-left: 14em;
    margin-right: auto;
}